<!-- views/partials/events-form.handlebars -->

<div class="form-group">
  <label for="title">donations</label>
  <input name="title" class="form-control" placeholder="donation's Name" value="{{donation.title}}" />
</div>
<div class="form-group">
  <label for="desc">Ammount</label>
  <textarea name="desc" class="form-control" placeholder="How much would you like to donate?">{{event.desc}}</textarea>
</div>
<div class="form-group">
  <label for="imgUrl">Image Url</label>
  <input name="imgUrl" class="form-control" placeholder="Image of giving Check" value="{{event.imgUrl}}"/>
</div>
